.laundryContainer {
    background-color: rgb(241, 240, 246);
    border-radius: 20px;
}

.laundryContainer {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.laundryContainer h2,
p {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.laundryContainer label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.laundryContainer 
select {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}

.sectionBox {
    display: block;
    margin-bottom: 0.5rem;
    height: 1.9rem;
}