.reservationContainer {
  background-color: rgb(241, 240, 246);
  border-radius: 20px;
}

.reservationContainer {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.reservationContainer h2,
p {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.reservationContainer label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sectionBox {
  display: block;
  margin-bottom: 0.5rem;
  height: 1.9rem;
}