.padding-horizontal--48 {
    padding: 24px 24px;
}

.padding-bottom--24 input {
    min-height: 44px;
}

.loginHeader {
    padding: 0.5rem;
    text-align: center;
    font-weight: 700;
    padding: 1rem 0rem;
    font-size: 28px;
}
