.profileContainer {
  background-color: rgb(241, 240, 246);
  border-radius: 20px;
}

.profileContainer h3 {
  text-align: center;
  font-weight: 400;
}

.profileTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.profileTable thead tr {
  background-color: #5e81d9;
  color: #ffffff;
  text-align: left;
}

.profileTable th,
.profileTable td {
  padding: 12px 15px;
  text-align: center;
}

.profileTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.profileTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.profileTable tbody tr:last-of-type {
  border-bottom: 2px solid rgb(131, 94, 243);
}

.tableBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}